<ig-dialog id="app-login" [options]="options">
    <form role="form" (ngSubmit)="login()" (ngReset) ="close()">
        <div class="group-fields">
            <label for="login">Пользователь</label>
            <ig-text-editor width="100%" [(ngModel)]="model.username" name="username" ></ig-text-editor>
        </div>
        <div class="group-fields">
            <label for="password">Пароль</label>
            <ig-text-editor textMode="password" placeHolder="********" width="100%" [(ngModel)]="model.password" name="password"></ig-text-editor>
        </div>
        <div class="ui-dialog-buttonpane" style="float:right">
            <button type="submit" >Вход</button>
            <button type="reset" >Отмена</button>
        </div>
    </form>
</ig-dialog>
