<ig-dialog id="app-login" [options]="dialogOptions">    
    <form id="loginForm" (ngSubmit)="login()" (reset)="close()">
        <div class="group-fields">
            <label for="login">Пользователь</label>
            <ig-text-editor [widgetId]="loginId" width="100%" [(ngModel)]="model.username" name="login"></ig-text-editor>
        </div>
        <div class="group-fields">
            <label for="password">Пароль</label>
            <ig-text-editor [widgetId]="passwordId" [textMode]="'password'" [placeHolder]="'********'" [width]="'100%'" [(ngModel)]="model.password" name="password"></ig-text-editor>
        </div>
        <div class="ui-dialog-buttonpane" style="float: right">
            <button type="submit">Вход</button>
            <button type="reset">Отмена</button>
        </div>
    </form>
    <ig-validator #validator [widgetId]='formId' [options]="validatorOptions"></ig-validator>
</ig-dialog>
