.center {
    padding: 1px;
}

.header {
    height: 36px;
    padding: 2px;
    z-index: 1;
}

.filterbar {
     float: right
}

.filterbar label {
     font-size: small
}

.toolbar {
    float: left
}