<app-login (closed)="load()"></app-login>

<div id="pm-dashboard">
    <!-- START PM NAVIGATION PANEL -->
    <div id="pm-navigation" class="collapsed navigation-slide">
        <div class="expand-container">
            <a href="#" class="btn-expand" (click)="toggleNavBar($event)" touchstart="toggleNavBar($event)">
                <i class="icon-md icon-menu">Expand Navigation</i>
            </a>
        </div>        
        <div class="profile table">
            <div class="userinfo row">
                <span class="picture cell valign-mid">
                    <img src="images/logo.png" class="img-circle" alt="EventBus" />
                </span>                
                <span class="user cell valign-mid hidden-closed">
                    EventBus
                    <small class="discipline">1.0.0.0</small>
                </span>
            </div>
            <div class="row-group">
                <span class="cell">Диспетчер</span>   
                <div class="row">
                    <span class="cell">событий</span>
                </div>             
            </div>
        </div>       
        <section class="projects current" *ngIf="this.authService.isAuthenticated()">            
            <ul >
                <li class="table" >
                    <div class="essentials cell valign-mid">
                        <div class="doughnut">
                            <i class="icon-sm icon-folder"></i>                            
                        </div>
                        <span class="client abbr">Монитор</span>
                    </div>
                    <div class="details cell valign-mid hidden-closed">
                        <span class="client full">Монитор</span>
                        <span class="projectID"></span>
                    </div>
                    <div class="details-btn cell valign-mid hidden-closed">                        
                    </div>
                </li>
                <li class="table">
                    <div class="essentials cell valign-mid">
                        <div class="doughnut">
                            <i class="icon-md icon-team"></i>
                        </div>
                        <span class="client abbr">Пользователи</span>
                    </div>
                    <div class="details cell valign-mid hidden-closed">
                        <span class="client full">Пользователи</span>
                        <span class="projectID"></span>
                    </div>
                    <div class="details-btn cell valign-mid hidden-closed">                        
                    </div>
                </li>
                <li class="table">
                    <div class="essentials cell valign-mid">
                        <div class="doughnut">
                            <i class="icon-md icon-approve"></i>
                        </div>
                        <span class="client abbr">События</span>
                    </div>
                    <div class="details cell valign-mid hidden-closed">
                        <span class="client full">События</span>
                        <span class="projectID"></span>
                    </div>
                    <div class="details-btn cell valign-mid hidden-closed">                        
                    </div>
                </li>
            </ul>
        </section> 
        <!-- START LOGIN PANEL -->
        <section class="projects current" *ngIf="!this.authService.isAuthenticated()">
            <ul>
                <li class="table" (click)="loginComponent.open()">
                    <div class="essentials cell valign-mid">
                        <div class="doughnut">
                            <i class="icon-md icon-add-team"></i>
                        </div>
                        <span class="client abbr">Войти</span>
                    </div>
                    <div class="details cell valign-mid hidden-closed">
                        <span class="client full">Войти в систему</span>
                        <span class="projectID"></span>
                    </div>
                    <div class="details-btn cell valign-mid hidden-closed">
                    </div>
                </li>
            </ul>
        </section>                
        <section class="projects upcoming" *ngIf="this.authService.isAuthenticated()">
            <ul>
                <li class="table" [ngStyle]="{'cursor': 'default'}">
                    <div class="essentials cell valign-mid">
                        <div class="doughnut">Вошел как</div>
                        <span class="client abbr">{{credentials.username | uppercase }}</span>
                    </div>
                    <div class="details cell valign-mid hidden-closed">
                        <span class="client full">{{credentials.username}}</span>
                        <span class="projectID">#1002</span>
                    </div>
                    <div class="details-btn cell valign-mid hidden-closed" (click)="logout()" [ngStyle]="{'cursor': 'pointer'}">
                        <i class="icon-md icon-remove" title="Выйти"></i>
                    </div>
                </li>
            </ul>
        </section> 
        <!-- END LOGIN PANEL -->     
    </div>
    <!-- END PM NAVIGATION PANEL -->
    <!-- START PROJECT PANEL -->
    <div id="project-panel" class="content">
        <router-outlet></router-outlet>
    </div>
    <!-- END PROJECT PANEL -->
</div>
 
