<app-login (closed)="loginComponent_Closed($event)"></app-login>
<div id="pm-dashboard">
    <!-- START PM NAVIGATION PANEL -->
    <div id="pm-navigation" class="collapsed navigation-slide">
        <div class="expand-container">
            <a href="#" class="btn-expand" (click)="toggleNavBar($event)" touchstart="toggleNavBar($event)">
                <i class="icon-md icon-menu">Expand Navigation</i>
            </a>
        </div>        
        <div class="profile table">
            <div class="userinfo row">
                <span class="picture cell valign-mid">
                    <img src="images/logo.png" class="img-circle" alt="EventBus" />
                </span>                
                <span class="user cell valign-mid hidden-closed">
                    EventBus
                    <small class="discipline">1.0.0.0</small>
                </span>
            </div>            
            <div class="date today row-group">
                <span class="cell">Диспетчер</span>   
                <div class="row">
                    <span class="cell">событий</span>
                </div>             
            </div>
        </div>     
        <section class="projects current" *ngIf="menu.length > 0">
            <ul>
                <li id="menu-{{mi.id}}" [ngClass]="{ active: mi.active, table: true }" *ngFor="let mi of menu" (click)="menuItemClick(mi)">
                    <h3 *ngIf="mi.title">{{mi.title}}</h3>
                    <div class="essentials cell valign-mid">
                        <div class="doughnut">
                            <i class="{{mi.iconCls}}" *ngIf="mi.iconCls"></i>
                        </div>
                        <span class="client abbr">{{mi.abbr}}</span>
                    </div>
                    <div class="details cell valign-mid hidden-closed">
                        <span class="client full">{{mi.name}}</span>
                        <span class="projectID"></span>
                    </div>
                    <div class="details-btn cell valign-mid hidden-closed" *ngIf="mi.details">
                        <i class="{{mi.details.iconCls}}" title="{{mi.details.title}}"></i>    
                    </div>
                </li>
            </ul>
        </section>
        <!-- START LOGIN PANEL -->
        <section class="projects current" *ngIf="!this.authService.isAuthenticated">
            <ul>
                <li class="table" (click)="login()">
                    <div class="essentials cell valign-mid">
                        <div class="doughnut">
                            <i class="icon-md icon-add-team"></i>
                        </div>
                        <span class="client abbr">Войти</span>
                    </div>
                    <div class="details cell valign-mid hidden-closed">
                        <span class="client full">Войти в систему</span>
                        <span class="projectID"></span>
                    </div>
                    <div class="details-btn cell valign-mid hidden-closed">
                    </div>
                </li>
            </ul>
        </section>
        <section class="projects upcoming" *ngIf="this.authService.isAuthenticated">
            <ul>
                <li class="table" [ngStyle]="{'cursor': 'default'}">
                    <div class="essentials cell valign-mid">
                        <div class="doughnut">Вошел как</div>
                        <span class="client abbr">{{loggedUser.username | uppercase }}</span>
                    </div>
                    <div class="details cell valign-mid hidden-closed">
                        <span class="client full">{{loggedUser.description || loggedUser.username}}</span>
                        <span class="projectID">{{ loggedUser.isadmin ? 'Администратор' : 'Пользователь' }}</span>
                    </div>
                    <div class="details-btn cell valign-mid hidden-closed" (click)="logout()" [ngStyle]="{'cursor': 'pointer'}">
                        <i class="icon-md icon-remove" title="Выйти"></i>
                    </div>
                </li>
            </ul>
        </section>
        <!-- END LOGIN PANEL -->
    </div>
    <!-- END PM NAVIGATION PANEL -->
    <!-- START PROJECT PANEL -->
    <div id="project-panel" class="content">
        <div id="headline">            
            <h1>projectplanner</h1>            
            <a href="#" class="action slide-team-directory" (click)="toggleTeamBar($event)">
                <span class="icon-md icon-menu" title="Настройки"></span>
            </a>
        </div> 
        
        <router-outlet></router-outlet>            
    </div>
    <!-- END PROJECT PANEL -->  
    <!-- START TEAM PANEL -->
    <div id="pm-team-navigation" class="navigation-slide collapsed">
        Настройки
    </div>
    <!-- END TEAM PANEL -->
</div>