<ig-layout-manager widgetId="layout" [(options)]="layoutOptions">
    <div class="header">
        <div class="toolbar">
            <button id="addItem" (click)="toolbarClick($event)">Добавить</button>
            <button id="editItem" (click)="toolbarClick($event)">Изменить</button>
            <button id="delItem" (click)="toolbarClick($event)">Удалить</button>
            <button id="refresh" (click)="toolbarClick($event)">Обновить</button>
        </div>
        <div class="filterbar">
            <label>Панель рабочих элементов</label>
            <button (click)="togglePanel($event)"></button>
        </div>
    </div>
    <div class="footer" class="ui-helper-hidden"></div>
    <div class="center" style="padding: 1px">
        <div #dynamicComponentContainer></div>
    </div>
    <div class="right" class="ui-helper-hidden"></div>
</ig-layout-manager>